<!--
    App main view
-->
<%- include header.ejs %>

    <div class="container app" role="app">

        <div class="container new-message-wrapper">

            <div class="new-message">
                <div class="avatar">
                    <img class="img-circle" src="images/user-1.jpg" alt="">
                </div>
                <div class="message-body">
                    <form class="new-message-form" action="">
                        <textarea name="message-text" placeholder="What's on your mind" name="" id="" cols="30" rows="10">What's on your mind? </textarea>
                        <hr>
                        <div class="actions">

                            <input class="button" value="Share." type="submit">
                        </div>
                   </form>
                </div>
            </div>

        </div>

        <div class="messages">



           <!--  <div class="message">
                <div class="avatar">
                    <img class="img-circle" src="images/user-1.jpg" alt="">
                </div>
                <div class="message-body">
                    <h4>Pablo Vallejo <span class="small">• 10 days ago<span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et olore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>

            <div class="message">
                <div class="avatar">
                    <img class="img-circle" src="images/user-1.jpg" alt="">
                </div>
                <div class="message-body">
                    <h4>Pablo Vallejo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et olore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>

            <div class="message">
                <div class="avatar">
                    <img class="img-circle" src="images/user-1.jpg" alt="">
                </div>
                <div class="message-body">
                    <h4>Pablo Vallejo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et olore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div> -->

        </div>

    </div>

<%- include footer.ejs %>