<!--
    Components: Misc
    Miscellaneous components
-->

<div class="modal register-modal">

    <div class="modal-header">
        <button class="close" type="button" data-dismiss="register">×</button>
        <h3>Sign up for Fun</h3>
    </div>

    <form class="register-form" action="#">
        <div class="modal-body">


                <div class="">
                    <input type="text" name="display-name" placeholder="Your name">
                    <input type="text" name="username" placeholder="Username">
                    <input type="text" name="email" placeholder="your@email.here">
                    <input type="password" name="password" placeholder="password">
                    <input type="text" name="avatar-src" placeholder="Profile image url">
                    <input type="hidden" name="session-token" value="">
                </div>


        </div>

        <div class="modal-footer">
            <a href="#" class="button">Close</a>
           <input type="submit" class="button button-blue" value="Create account">
        </div>
    </form>

</div>


<div class="modal-backdrop"></div>