<!--
    Components: Misc
    Miscellaneous components
-->

<div class="modal register-modal modal-small">

    <div class="modal-header">
        <button class="close" type="button" data-dismiss="register">×</button>
        <h3>Sign up for Fun</h3>
    </div>

    <form class="register-form" action="#">
        <div class="modal-body">

                <p>Register on Fun to be able to see what other's say and to post messages.</p>
                <div class="">
                    <input type="text" class="large" name="display-name" placeholder="Your name">
                    <input type="text" class="large" name="username" placeholder="Username">
                    <input type="password" class="large" name="password" placeholder="Password">
                    <input type="text" class="large" name="avatar-src" placeholder="Profile image url">
                    <input type="hidden" name="session-token" value="">
                </div>


        </div>

        <div class="modal-footer">
            <a href="#" class="button dismiss" data-dismiss="register">Close</a>
           <input type="submit" class="button button-blue" value="Create account">
        </div>
    </form>

</div>


<!--
    About modal
-->
<div class="modal about-modal modal-small">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="about">×</button>
        <h3>About Fun</h3>
    </div>

    <div class="modal-body">
        <p><img class="img-circle" src="images/pablo.jpg" alt=""></p>
        <p>
            Fun is made with all the love in the world
            using NodeJS, Backbone, and MongoDB.
        </p>
        <p>Author: <a href="http://github.com/PabloVallejo">Pablo Vallejo</a></p>
    </div>

    <div class="modal-footer">
        <a class="dismiss button" data-dismiss="about" href="#">Ok!</a>
    </div>

</div>


<div class="modal-backdrop"></div>