
      <div class="container block-divisor"></div>

        <div class="container">

            <div class="footer">

                <ul class="inline pull-right">
                    <li><span class="mute copyright">©2013 Fun</span></li>
                    <li><a data-toggle="modal" class="" href=".about-modal">About</a></li>
                    <!-- <li><a href="#">Help</a></li> -->
                </ul>


            </div>

        </div>

    </div>


<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/lodash.js"></script>
<script src="js/lib/utils.js"></script>
<script src="js/lib/moment.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lib/ejs_production.js"></script>

<!-- Initialize -->
<script src="js/app.js"></script>

<!-- Authentification -->
<script src="js/models/user.js"></script>
<script src="js/collections/users.js"></script>
<script src="js/views/user.js"></script>

<!-- Chat module -->
<script src="js/models/messages.js"></script>
<script src="js/collections/messages.js"></script>
<script src="js/views/messages.js"></script>

<!-- Snipet Modal -->
<script src="js/models/snippet.js"></script>
<script src="js/views/snippet.js"></script>

<!-- Template -->
<script src="js/views/template.js"></script>

<!-- App -->
<script src="js/views/app.js"></script>


</body>
</html>
