<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fun - Wall Messages</title>
    <link rel="stylesheet" href="css/volatile.css">
    <!-- <link rel="stylesheet" href="css/app.css"> -->

</head>
<body class="">

    <div class="page">

        <div class="container">
            <div id="header">
                <h1>Fun  <small> • Messaging</small></h1>
            </div>
        </div>