
<!--
    Message template
 -->

<div class="message">
    <div class="avatar">
        <img class="img-circle" src="<%= author_avatar_src %>" alt="">
    </div>
    <div class="message-body">
        <h4><%= author_display_name %> <span class="small">• <%= date %><span></h4>
        <p><%= message_text %></p>
    </div>
</div>